<div class="content w-100">
  <div class="container-fluid m-0 w-100">
    <div class="row">
      <div class="d-flex justify-content-between col-12 w-100 p-2">
        <h3>Pomac Front End Technical Task</h3>
        <button type="button" class="btn btn-primary">+ New Task</button>
      </div>
      <div class="col-12">
        <div *ngFor="let item of lists">
          {{ item.name }}
        </div>
        <button
          class="btn"
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          + New Column
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Column</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <span class="mb-1">Title</span>
        <input type="text" class="form-control" [(ngModel)]="this.newList" />
        <small *ngIf="!this.newList">This is a required field</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="addList()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
